@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {

}

.hero {
  min-height: 100vh;
  min-width: 100vw;
}



html,
body {
  overflow-x: hidden;
}

canvas {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(farthest-side at 50% 50%, #1b1d2b, #151622, #0f1018) no-repeat;
}

#hello {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
#hello2 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.char {
  transform: translateY(115px);
  transition: transfoorm 0.5s;
}
/*
"Hello, Im Mrima, a software engineer by day and I track ransomware" +
                                    "gangs and reverse engineer malware by night"
*/