@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {

}

.hero {
  min-height: 100vh;
  width: 100vw;
}



html,
body {
  overflow-x: hidden;
}

.about, .projects{
  width: 100vw;
  min-height: 100dvh;
  background-image: radial-gradient(circle farthest-side at 70% 45%, #11131c, #030304, #0a0b11);
  background-size: 100% 100%;
  background-position: left center;
  background-repeat: no-repeat;
}

#hello {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
#hello2 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


.char {
  transform: translateY(115px);
  transition: transfoorm 0.5s;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to top left, #ffffff, #4b5563);
}

.about-text {
  background-image: radial-gradient(circle farthest-side at 70% 45%, #11131c, #030304, #0a0b11);
  background-size: 100% 100%;
  background-position: left center;
  background-repeat: no-repeat;
}

.content {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
